.logo_place_footer {
    height: 35px;
    background-image: url('../../../images/logo_place_footer.svg');
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
  }

  .logo_place_footer:hover {
    opacity: 0.6;
  }