.resources__logo {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 270px;
    height: 38px;
    text-align: center;
    transition: opacity 0.3s ease;
  }

  .resources__logo:hover {
    opacity: 0.6;
  }