.footer__column-links {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin: 0;
    list-style: none;
    padding: 20px 0 16px;
  }
  